{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "allowPrens": "avoid",
  "useTabs": true,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "rangeStart": 0,
  "proseWrap": "preserve",
  "endOfLine": "auto",
  "embeddedLanguageFormatting": "auto"
}
